/* Mixins */
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
// 列文本
@mixin columnsText {
  text-align: justify;
  -webkit-column-count: 3;
  -webkit-column-gap: 12px;
  -webkit-column-rule: 1px solid #c4c8cc;
}
